# Byte-compiled / cache
__pycache__/
*.py[cod]
*.egg-info/

# OS
.DS_Store

# Hydra outputs
.hydra/
runs/
multirun/

# Training outputs
outputs/

# W&B runs (any level)
wandb/

# Logs
*.log
result.json

datasets/
data/

datset_explorer.ipynb
